<div id="<%= dom_id buyer %>">
  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= buyer.classification %>
  </p>

  <p>
    <strong>Feature:</strong>
    <%= buyer.feature %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= buyer.product_id %>
  </p>

</div>
